* {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tile {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}


#reset,
#info {
    width: 120px;
    height: 70px;
    border-radius: 8px;
    background-color: blanchedalmond;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

#reset {
    margin-top: 10px;
}

.usersBoards {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.usersBoards div {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px 0px;
    padding: 0px;
}

.usersBoards div input {
    background-color: blanchedalmond;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
}

.player-name {
    cursor: text;
}

@media (max-width: 520px) {
    .container {
        width: 250px;
        height: 250px;
    }
    .usersBoards {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .container {
        width: 200px;
        height: 200px;
    }
    .usersBoards {
        width: 95%;
    }
}